td {
    border:5px solid pink;
    width: 100px;
    height: 100px;
    
}
td:hover {
    background:orange;
    cursor: pointer;
    color: brown
}
table {
    border:3px solid blueviolet;
    
}
currentPlayer{
    color: yellowgreen;
}
nextPlayer{
    color: springgreen;
}